<div>
    <h1>Sobre Comic App</h1>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus dignissimos sapiente quibusdam atque, quis animi delectus qui necessitatibus saepe dolorum, aperiam sunt tenetur maiores iste nam voluptatibus! Temporibus, at quasi! Nulla perferendis
        dolorem earum. Quisquam illo unde perferendis, eos quas voluptatem tempore dolorem officiis doloremque? Assumenda ullam consectetur sed blanditiis tenetur pariatur, sint explicabo alias impedit non ipsam temporibus fugiat! Voluptatum, quam ipsum?
        Et eius eos dicta laboriosam perspiciatis architecto nostrum, voluptate debitis delectus? Amet a commodi numquam delectus, iure asperiores voluptas quae nesciunt quibusdam autem maiores, odio, ad officia. Deleniti maiores mollitia sequi exercitationem
        aspernatur harum sint rem alias at enim! Eligendi error accusantium ea magni officiis tenetur culpa, ad enim voluptatum quisquam non maiores, ullam facere voluptatem temporibus?</p>
</div>